.add-to-cart {
  width: 320px;
  min-height: 336px;
  margin-top: -168px;
  margin-left: -160px;
  padding: 30px;
  padding-top: 38px;
  padding-bottom: 47px;

  box-sizing: border-box;

  text-align: center;
}

.add-to-cart__legend {
  @include font-normal;
  font-size: 15px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 30px;
}

.add-to-cart__label {
  @include font-bold;
  font-size: 17px;
  line-height: 17px;
  color: color(primary);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 52px;
  border: 2px solid color(primary-light3);
  box-sizing: border-box;

  cursor: pointer;
}

.add-to-cart__label:hover,
.add-to-cart__label:focus {
  border: 2px solid color(primary-light);
}

.add-to-cart__label:active {
  border: 2px solid color(accent);
}

.add-to-cart__input:checked + .add-to-cart__label {
  border: 2px solid color(accent);
}

@media (min-width: $tablet-width) {
  .add-to-cart {
    width: 566px;
    margin-left: -283px;
    padding-left: 106px;
    padding-right: 106px;
  }

  .add-to-cart__legend {
    margin-bottom: 25px;
  }

  .add-to-cart__label {
    width: 112px;
  }
}
