.advantages__wrapper {
  margin: 0 auto;
  padding: 30px;
}

.advantages__list {
  @include font-bold;
  font-size: 17px;
  line-height: 20px;
  color: color(secondary);

  @include list-base;
}

.advantages__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    width: 668px;
    padding: 50px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 300px;
    padding-right: 34px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: 875px;
    padding: 50px;
    padding-left: 225px;
  }

  .advantages__item {
    width: 300px;
    padding-right: 50px;
  }
}
