.basic-header {
  @include font-bold;
  font-size: 25px;
  line-height: 30px;
  color: color(secondary);
}

@media (min-width: $tablet-width) {
  .basic-header {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .basic-header {
    font-size: 53px;
    line-height: 57px;
  }
}
