.button {
  @include font-bold;
  font-size: 18px;
  line-height: 20px;
  color: color(primary);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  display: inline-block;
  padding: 14px;
  border: 2px solid color(primary);
  background-color: rbg(255, 255, 255);
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 1);
    background-color: color(primary);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: color(primary);
  }
}

.button--full {
  width: 260px;
}

.button--green {
  color: rgb(255, 255, 255);
  border-color: color(accent);
  background-color: color(accent);

  &:hover,
  &:focus {
    color: rgb(255, 255, 255);
    border-color: color(accent);
    background-color: color(accent);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
