.catalog__wrapper {
  width: 260px;
  padding: 28px 30px;
  margin: 0 auto;
}

.catalog__list {
  @include list-base;
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__item:last-child {
  margin-bottom: 0;
}

.catalog__price {
  padding-top: 17px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: -10px;
  }

  .catalog__wrapper {
    width: 668px;
    padding: 0 50px;
    padding-top: 90px;
    padding-bottom: 50px;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 55px;
  }

  .catalog__description {
    width: 274px;
    display: flex;
    flex-direction: column;
  }

  .catalog__price {
    margin-top: auto;
    padding-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: -18px;
  }

  .catalog__wrapper {
    width: 1050px;
    padding: 0 50px;
    padding-top: 145px;
    padding-bottom: 7px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 316px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .catalog__item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .catalog__item:last-child {
    margin-bottom: 50px;
  }

  .catalog__description {
    width: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .catalog__price {
    margin-top: auto;
    padding-top: 22px;
  }
}
