.form {
  display: flex;
  flex-direction: column;
}

.form__description {
  @include font-normal;
  font-size: 13px;
  line-height: 24px;
  color: color(primary);

  margin: 0;
  margin-bottom: 30px;
}

.form__fieldset {
  border: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.form__legend {
  @include font-bold;
  font-size: 17px;
  line-height: 17px;
  color: color(accent);
  text-transform: uppercase;

  display: block;
  padding: 0;
  margin-bottom: 30px;
}

.form__filter-list {
  @include list-base;
}

.form__filter-item {
  margin-bottom: 15px;
}

.form__row {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.form__row--last {
  margin-bottom: 15px;
}

.form__filter-item:last-child {
  margin-bottom: 0;
}

.form__label {
  @include font-bold;
  font-size: 17px;
  line-height: 18px;
  color: color(secondary);

  margin-bottom: 15px;
}

.form__button {
  display: block;
  margin-top: 30px;
}

.form__input-text {
  @include font-normal;
  font-size: 17px;
  line-height: 18px;

  &::placeholder {
    color: color(primary-light);
  }

  box-sizing: border-box;
  padding: 15px;
  padding-left: 0;
  padding-bottom: 18px;
  border: 0;
  border-bottom: 2px solid color(secondary);
}

.form__input-text--big {
  font-size: 19px;
  line-height: 19px;
}

.form__textarea {
  padding: 15px;
  border: 2px solid color(secondary);
}

@media (min-width: $tablet-width) {
  .form__section-wrapper {
    width: auto;
    padding: 0;
  }

  .form__section-wrapper--background {
    background-color: color(bg-color);
  }

  .form__section-wrapper--background .form__input-text {
    background-color: color(bg-color);
  }

  .form__section {
    width: 668px;
    margin: 0 auto;
    padding: 50px;
  }

  .form__description {
    margin-bottom: 60px;
  }

  .form__fieldset {
    display: flex;
  }

  .form__fieldset:last-child {
    margin-bottom: 0;
  }

  .form__legend {
    width: 167px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .form__filter-list {
    width: 501px;
  }

  .form__filter-list--columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__filter-list--columns .form__filter-item {
    width: 240px;
  }

  .form__group {
    width: 501px;
  }

  .form__group--full {
    width: auto;
  }

  .form__group--columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__footnote {
    order: 1;
  }

  .form__row {
    flex-direction: row;
  }

  .form__row--last {
    margin-bottom: 53px;
  }

  .form__row:last-child {
    margin-bottom: 0;
  }

  .form__label {
    margin-top: 15px;
    margin-right: 25px;
  }

  .form__input-text {
    flex-grow: 1;
    padding-left: 15px;
  }

  .form__button {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__section {
    width: 875px;
    padding-left: 50px;
    padding-right: 225px;
  }

  .form__section--full {
    width: 1050px;
    padding: 50px;
  }

  .form__description {
    padding-left: 175px;
  }

  .form__group {
    width: auto;
    flex-grow: 1;
  }

  .form__filter-list--columns {
    width: 875px;
    justify-content: flex-start;
  }

  .form__filter-list--columns .form__filter-item {
    width: 260px;
  }

  .form__legend {
    width: 175px;
    text-align: center;
  }
}
