.form {
  display: flex;
  flex-direction: column;
}

.form__description {
  @include font-normal;
  font-size: 13px;
  line-height: 24px;
  color: color(primary);

  margin: 0;
  margin-bottom: 23px;
}

.form__fieldset {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  border: none;
}

.form__fieldset--name-section {
  margin-bottom: 32px;
}

.form__legend {
  @include font-bold;
  font-size: 17px;
  line-height: 17px;
  color: color(accent);
  text-transform: uppercase;
  white-space: nowrap;

  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
}

.form__legend::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-left: 25px;
  display: block;
  background-color: color(accent);
}

.form__filter-list {
  @include list-base;
}

.form__filter-item {
  margin-bottom: 21px;
  padding-left: 63px;
  padding-top: 3px;
}

.form__row {
  margin: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.form__row--green-label {
  margin-bottom: 30px;
}

.form__row--green-label .form__legend {
  margin-bottom: 11px;
}

.form__row .form__label {
  margin-bottom: 0;
}

.form__row--last {
  margin-bottom: 11px;
}

.form__row--last .form__legend {
  margin-bottom: 26px;
}

.form__filter-item:last-child {
  margin-bottom: 0;
}

.form__filter-list--checkbox .form__filter-item {
  margin-bottom: 39px;
  padding-top: 4px;
}

.form__filter-item .form__label {
  position: relative;

  display: block;
  cursor: pointer;
}

.form__input--radio + .form__label::before {
  content: "";

  width: 40px;
  height: 40px;
  border: 2px solid color(primary);
  border-radius: 50%;
  box-sizing: border-box;

  position: absolute;
  top: -8px;
  left: -63px;
}

.form__input--radio:checked + .form__label::after {
  content: "";

  width: 16px;
  height: 16px;
  background-color: color(accent);
  border-radius: 50%;
  box-sizing: border-box;

  position: absolute;
  top: 5px;
  left: -51px;
}

.form__input--checkbox + .form__label::before {
  content: "";

  width: 40px;
  height: 40px;
  border: 2px solid color(primary);
  box-sizing: border-box;

  position: absolute;
  top: -11px;
  left: -63px;
}

.form__input--checkbox:checked + .form__label::after {
  content: "";

  width: 22px;
  height: 16px;
  background-image: url("../../img/icon-tick.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  top: 2px;
  left: -54px;
}

.form__input:hover + .form__label::before {
  border-color: color(accent);
}

.form__input:focus + .form__label::before {
  border-color: color(accent);
  outline: rgb(20, 112, 216) auto 5px;
}

.form__input:active + .form__label::before {
  border-color: color(primary-light);
}

.form__label {
  @include font-bold;
  font-size: 17px;
  line-height: 18px;
  color: color(secondary);

  margin-bottom: 15px;
}

.form__input-text {
  @include font-normal;
  font-size: 17px;
  line-height: 18px;
  height: calc(18px + 16px + 12px + 2px);

  &::placeholder {
    color: color(primary-light);
  }

  box-sizing: border-box;
  padding: 12px;
  padding-left: 0;
  padding-bottom: 16px;
  border: 0;
  border-bottom: 2px solid color(secondary);

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid color(accent);
  }
}

.form__input-text--big {
  font-size: 19px;
  line-height: 19px;
  height: calc(19px + 16px + 12px + 2px);
}

.form__row--icon {
  position: relative;
}

.form__row--icon .form__input-text {
  padding-top: 16px;
  padding-bottom: 15px;
  padding-right: 40px;
  box-sizing: border-box;
}

.form__input-text + svg {
  fill: color(primary);
  opacity: 0.2;
}

.form__row--icon-phone svg {
  width: 25px;
  height: 24px;
  position: absolute;
  right: 5px;
  bottom: 21px;
}

.form__row--icon-email svg {
  width: 43px;
  height: 33px;
  position: absolute;
  right: -1px;
  bottom: 7px;
}

.form__textarea {
  min-height: 142px;
  padding: 15px;
  border: 2px solid color(secondary);

  &:hover,
  &:focus,
  &:active {
    border: 2px solid color(accent);
  }
}

.form__input-text:hover + svg,
.form__input-text:focus + svg,
.form__input-text:active + svg {
  fill: color(accent);
  opacity: 1;
}

.form__button {
  width: 100%;
  display: block;
  margin-top: 28px;
}

@media (min-width: $tablet-width) {
  .form__section-wrapper {
    width: auto;
    padding: 0;
  }

  .form__section-wrapper--background {
    background-color: color(bg-color);
  }

  .form__section-wrapper--background .form__input-text {
    background-color: color(bg-color);
  }

  .form__section {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 84px;
    padding-bottom: 42px;
  }

  .form__section--checkbox {
    padding-top: 52px;
    padding-bottom: 21px;
  }

  .form__section--text-fields {
    padding-top: 52px;
    padding-bottom: 50px;
  }

  .form__section--contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form__section--message {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 60px;
  }

  .form__fieldset {
    display: flex;
    align-items: flex-start;
  }

  .form__fieldset:last-child {
    margin-bottom: 0;
  }

  .form__legend {
    width: 167px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .form__legend::after {
    display: none;
  }

  .form__filter-list {
    width: 501px;
  }

  .form__filter-list--columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__filter-list--columns .form__filter-item {
    width: 240px;
    box-sizing: border-box;
  }

  .form__filter-item {
    padding-left: 82px;
    padding-bottom: 26px;
  }

  .form__filter-list--checkbox .form__filter-item {
    padding-bottom: 8px;
  }

  .form__input--radio + .form__label::before {
    width: 52px;
    height: 52px;

    top: -14px;
    left: -80px;
  }

  .form__input--radio:checked + .form__label::after {
    width: 22px;
    height: 22px;

    top: 1px;
    left: -65px;
  }

  .form__input--checkbox + .form__label::before {
    width: 54px;
    height: 52px;
    top: -12px;
    left: -80px;
  }

  .form__input--checkbox:checked + .form__label::after {
    width: 33px;
    height: 22px;
    top: 5px;
    left: -70px;
  }

  .form__input-text {
    font-size: 19px;
    line-height: 19px;
    height: calc(19px + 16px + 12px + 2px);

    flex-grow: 1;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 15px;
  }

  .form__group {
    width: 501px;
  }

  .form__group--full {
    width: auto;
  }

  .form__group--columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__footnote {
    order: 1;
  }

  .form__row {
    flex-direction: row;
    margin-bottom: 25px;
  }

  .form__row--last {
    margin-bottom: 53px;
    align-items: flex-start;
  }

  .form__row--green-label {
    margin-top: 2px;
    margin-bottom: 27px;
  }

  .form__row--green-label .form__legend {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form__row:last-child {
    margin-bottom: 0;
  }

  .form__row--icon .form__input-text {
    padding-right: 60px;
  }

  .form__row--icon-phone svg {
    right: 23px;
    bottom: 16px;
  }

  .form__row--icon-email svg {
    right: 13px;
    bottom: 9px;
  }

  .form__label {
    font-size: 19px;
    line-height: 19px;
    margin-top: 7px;
    margin-bottom: 0;
    margin-right: 25px;
  }

  .form__row .form__label {
    margin-top: 12px;
  }

  .form__textarea {
    min-height: 142px;
    padding: 15px;
  }

  .form__button {
    width: 230px;
    margin-top: 0;
  }

  .footnote {
    font-size: 17px;
    line-height: 30px;

    position: relative;
  }

  .footnote__asterisk {
    position: absolute;
    top: -3px;
    left: -8px;
  }
}

@media (min-width: $desktop-width) {
  .form__section {
    width: 875px;
    padding-top: 137px;
    padding-left: 50px;
    padding-right: 225px;
  }

  .form__section--full {
    width: 1050px;
    padding: 50px;
  }

  .form__section--checkbox {
    padding-bottom: 25px;
  }

  .form__section--text-fields {
    padding-top: 52px;
  }

  .form__section--contacts {
    padding-top: 52px;
    padding-bottom: 50px;
  }

  .form__section--message {
    padding-top: 50px;
  }

  .form__row--green-label {
    margin: 0;
    margin-bottom: 27px;
  }

  .form__row--green-label .form__legend {
    margin-top: 14px;
  }

  .form__row--icon .form__input-text {
    padding-top: 10px;
    padding-bottom: 13px;
  }

  .form__row--icon-phone svg {
    right: 7px;
    bottom: 16px;
  }

  .form__row--icon-email svg {
    right: -2px;
    bottom: 9px;
  }

  .form__row--last {
    margin-bottom: 47px;
  }

  .form__description {
    padding-left: 175px;
  }

  .form__group {
    width: auto;
    flex-grow: 1;
  }

  .form__filter-list--columns {
    width: 875px;
    justify-content: flex-start;
  }

  .form__filter-list--columns .form__filter-item {
    width: 260px;
  }

  .form__legend {
    width: 175px;
    display: block;
    text-align: center;
  }

  .form__button {
    margin-left: 175px;
  }
}
