.hero-block {
  background-color: rgb(249, 249, 249);
  border-top: $border;
}

.hero-block__image {
  background-color: rgb(252, 252, 252);
}

@media (min-width: $tablet-width) {
  .hero-block__products {
    margin-top: -125px;
  }
}
