.item-card__image {
  background-color: color(bg-color);
}

.item-card__link {
  text-decoration: none;
}

.item-card__description {
  padding: 28px;
  border: $border;
}

.item-card__title {
  @include font-bold;
  font-size: 17px;
  line-height: 24px;
  color: color(secondary);
}

.item-card__details {
  @include font-normal;
  font-size: 13px;
  line-height: 30px;
  color: color(primary);
}

.item-card__price {
  @include font-bold;
  font-size: 15px;
  line-height: 24px;
  color: color(secondary);
}
