.page-main__title-wrapper {
  min-height: 177px;
  padding: $padding;
  background-color: color(bg-color);

  text-align: center;
}

.page-main__title {
  @include font-bold;
  font-size: 27px;
  line-height: 30px;
  color: color(secondary);
}

.page-main--catalog {
  padding-bottom: 58px;
}
