.page-main__title-bg {
  background-color: color(bg-color);
  border-top: $border;
}

.page-main__title-wrapper {
  min-height: 177px;
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.page-main__title {
  @include font-bold;
  font-size: 27px;
  line-height: 30px;
  color: color(secondary);
}

.page-main--catalog {
  padding-bottom: 58px;
}

.page-main__form-wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 30px;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: -56px;
  }

  .page-main--catalog {
    padding-bottom: 63px;
  }

  .page-main__title-wrapper {
    width: 668px;
    min-height: 208px;
    padding: 0 50px;
    padding-top: 16px;
  }

  .page-main__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  .page-main__form-wrapper {
    width: auto;
    padding: 0;
  }

  .page-main__form-section-wrapper--background {
    background-color: color(bg-color);
  }

  .page-main__form-section {
    width: 668px;
    margin: 0 auto;
    padding: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-main--catalog {
    padding-bottom: 104px;
  }

  .page-main__title-wrapper {
    width: 1050px;
    min-height: 245px;
    padding: 0 50px;
    padding-bottom: 10px;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }
}
