.page-main__title-bg {
  background-color: color(bg-color);
}

.page-main__title-wrapper {
  min-height: 177px;
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.page-main__title {
  @include font-bold;
  font-size: 27px;
  line-height: 30px;
  color: color(secondary);
}

.page-main--catalog {
  padding-bottom: 58px;
}
