.reviews__wrapper-inner {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 0;
  padding-bottom: 45px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;
}

.reviews__item {
  margin-bottom: 30px;
}

.reviews__buttons-wrapper {
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper-inner {
    width: 668px;
    min-height: 457px;
    margin: 0 auto;
    padding: 0 50px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__wrapper-body {
    padding-top: 77px;
    padding-bottom: 85px;

    display: flex;
    flex-wrap: wrap;
  }

  .reviews__title {
    width: 485px;
    margin-bottom: 50px;

    order: 1;
  }

  .reviews__list {
    position: relative;

    order: 3;
  }

  .reviews__buttons-wrapper {
    width: 171px;
    margin-bottom: 30px;

    position: absolute;
    bottom: 2px;
    right: 0;
  }

  .reviews__prev {
    border: none;
  }

  .reviews__next {
    border: none;
  }

  .reviews__button-wrapper {
    width: 175px;
    margin-left: auto;

    order: 2;
  }

  .reviews__button-wrapper .button {
    font-size: 17px;
    line-height: 20px;

    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 63px;
  }

  .reviews__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .reviews__wrapper-inner {
    width: 875px;
    margin: 0;
    padding: 0;
    padding-left: 175px;
  }

  .reviews__wrapper-body {
    padding: 70px 0;
  }

  .reviews__button-wrapper {
    margin-top: 7px;
  }
}
