.reviews__wrapper {
  padding: 30px;
  margin: 0 auto;
}

.review__text {
  @include font-normal;
  font-size: 15px;
  line-height: 30px;
  color: color(primary);
}

.review__author {
  @include font-bold;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  color: color(secondary);
}

.review__author-contact {
  @include font-normal;
  font-size: inherit;
  line-height: 30px;
  color: color(primary);
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: 668px;
    padding: 50px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: 875px;
    padding-left: 225px;
  }
}
