body {
  @include font-normal;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: color(primary);

  min-width: 320px;
  margin: 0;
  padding: 0;

  background-color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  height: auto;
}
